@model TugasAkhir.Models.claim_medical

@{
    ViewBag.Title = "Edit";
    Layout = null;
}


@using (Html.BeginForm("EditClaim", "claim_medical", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return ajaxeditclaim(this);", data_restUrl = Url.Action("EditClaim", "claim_medical", new { id = 0 }) }))
{
    <div class="row">
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id_claim)
            @Html.HiddenFor(model => model.nik)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.tanggal, "Tanggal", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBox("Tanggal", String.Format("{0:dd MMMM yyyy}", DateTime.Now), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.tipe_perawatan, "Type Perawatan", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.tipe_perawatan, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.tanggal_perawatan, "Tanggal Perawatan", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBox("Tanggal", String.Format("{0:dd MMMM yyyy}", Model.tanggal_perawatan), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.nama_pasien, "Nama Pasien", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.nama_pasien, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.hubungan, "Hubungan", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.hubungan, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.nama_dokter, "Nama Dokter", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.nama_dokter, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.diagnosa, "Diagnosa", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.diagnosa, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">                
                <div class="form-group">
                    @Html.LabelFor(model => model.no_telp, "No. Telpon", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.no_telp, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.lokasi_RS, "Lokasi RS", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.lokasi_RS, new { @class = "form-control", @rows = "4", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.total_tagihan, "Total Tagihan", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBox("tanggallahir", "Rp. "+String.Format("{0:n}", Model.total_tagihan), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })                   
                        @Html.ValidationMessageFor(model => model.total_tagihan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.keterangan, "Keterangan", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.keterangan, new { @class = "form-control", @rows = "3" , @id = "keterangan" })
                    </div>
                </div>                    
                @if (Model.file_kwintasi != null)
                {
                <div class="form-group">
                    @Html.Label("Download Kwitansi", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <a href="@Url.Action("Download", "claim_medical", new { filepath = Model.file_kwintasi.ToString() })" class="btn btn-primary"><span class="fa fa-download"></span> Download</a>
                    </div>
                </div>
                }
            </div>
                <hr style="border:2px double #eaeaea;" />
                    <div class="col-md-offset-10">
                        <button type="submit" class="btn btn-danger"><span class="fa fa-times-circle"></span> Reject</button>
                    </div>
            </div>
    </div>
}