
@{
    ViewBag.Title = "Index Claim";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}
<h3>Halaman Request Claim</h3>
<a href="#" class="btn btn-success text-right" onclick="modal()"><i class="fa fa-plus"></i> Add Request Claim</a>
<a href="#" data-toggle="modal" data-target="#myModal" style="text-decoration-line:none;" class="btn btn-primary"><i class="fa fa-money-bill-alt"></i> Cek Saldo Anda</a>
<hr />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#listrequest">List Request</a></li>
    <li><a data-toggle="tab" href="#listreject">List Reject</a></li>
    <li><a data-toggle="tab" href="#riwayatclaim">Riwayat Claim</a></li>
   
</ul>
<div class="tab-content">
    <div id="listrequest" class="tab-pane fade in active">@Html.Action("ListRequestClaimK")</div>
    <div id="listreject" class="tab-pane fade in">@Html.Action("RejectClaimK")</div>
    <div id="riwayatclaim" class="tab-pane fade in">@Html.Action("RiwayatClaimK")</div>
    
</div>

<div id="MClaim" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- konten modal-->
        <div class="modal-content">
            <!-- heading modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-center" style="font-family:'Engravers MT'; font-size:xx-large;"><b><i class="fa fa-ambulance"></i> Add Request Claim</b></h1>
            </div>
            <!-- body modal -->
            <div class="modal-body">
                @Html.Action("RequestClaimK")
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- konten modal-->
        <div class="modal-content" style="border-radius: 20px;">
            <!-- heading modal -->
            <div class="modal-header">               
                <h1 class="modal-title text-center"><i class="fa fa-money-bill-alt"></i> <b>SALDO MEDICAL</b></h1>
            </div>
            <!-- body modal -->
            <div class="modal-body">
                <h3 style="font-family:'Californian FB'">1. Rawat Inap : Rp. <b>@String.Format("{0:n}", ViewBag.saldoinap)</b> s/d <b>@String.Format("{0:dd MMMM yyyy}", ViewBag.validinap)</b></h3><br />
                <h3 style="font-family:'Californian FB'">2. Rawat Jalan : Rp. <b>@String.Format("{0:n}", ViewBag.saldojalan)</b> s/d <b>@String.Format("{0:dd MMMM yyyy}", ViewBag.validjalan)</b></h3><br />
                <h3 style="font-family:'Californian FB'">3. Kacamata : Rp. <b>@String.Format("{0:n}", ViewBag.saldokacamata)</b>  s/d <b>@String.Format("{0:dd MMMM yyyy}", ViewBag.validkacamata)</b></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close"></i> Close</button>              
            </div>
        </div>
    </div>
</div>

<div id="DClaim" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- konten modal-->
        <div class="modal-content">
            <!-- heading modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-center" style="font-family:'Engravers MT'; font-size:xx-large;"><b><i class="fa fa-file-alt"></i> Detail Claim</b></h1>
            </div>
            <!-- body modal -->
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>

<div id="EClaim" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- konten modal-->
        <div class="modal-content">
            <!-- heading modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-center" style="font-family:'Engravers MT'; font-size:xx-large;"><b><i class="fa fa-file-alt"></i> Edit Claim</b></h1>
            </div>
            <!-- body modal -->
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script>
        function activatejQueryTable() {
            $('#a').DataTable();
            $('#b').DataTable();
            $('#c').DataTable();
        }
        $(function () {
            activatejQueryTable();
        });


        function modal() {
            $("#MClaim").modal("show");
        }

        //Awal Hide Tab
        $(document).ready(function () { hidetab() });

        function hidetab() {
            $('#tab1').hide();
            $('#tab2').hide();
        }
        //Ahkir Hide Tab

        function DetailClaim(url) {
            $('#DClaim').modal('show');
            $.ajax({
                type: 'GET',
                url: url,
                success: function (response) {
                    $('#tab2').hide();
                    $("#DClaim .modal-body").html(response);
                    //$('ul.nav.nav-tabs a:eq(3)').tab('show');
                }
            });
        }

        function EditClaimK(url) {
            $("#EClaim").modal("show");
            $.ajax({
                type: 'GET',
                url: url,
                success: function (response) {                   
                    $("#EClaim .modal-body").html(response);                    
                }
            });
        }

        function DeleteClaim(url) {
            Swal.fire({
                title: 'Apakah Anda Yakin?',
                text: "Request Claim Medical Anda Akan Dibatalkan!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya',
                cancelButtonText: 'Tidak'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        success: function (response) {
                            if (response.success) {
                                $('#tab1').hide();
                                $('#tab2').hide();
                                $("#listrequest").html(response.html);
                                $.notify(response.message, "warn");
                                if (typeof activatejQueryTable !== 'undefined' && $.isFunction(activatejQueryTable)) {
                                    activatejQueryTable();
                                }
                            }
                            else {
                                $.notify(response.message, "error");
                            }
                        }
                    });
                }
            });
        }              

        function ajaxrequestclaim(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var ajaxConfig = {
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    success: function (response) {
                        if (response.success) {
                            $('#tab1').hide();
                            $('#tab2').hide();
                            $("#MClaim").modal("hide");
                            $("#listrequest").html(response.html);
                            $('ul.nav.nav-tabs a:eq(0)').tab('show');
                            $.notify(response.message, "success");
                            if (typeof activatejQueryTable !== 'undefined' && $.isFunction(activatejQueryTable)) {
                                activatejQueryTable();
                            }
                        }
                        else {
                            $.notify(response.message, "error");
                        }
                    }
                }
                if ($(form).attr('enctype') == "multipart/form-data") {
                    ajaxConfig["contentType"] = false;
                    ajaxConfig["processData"] = false;
                }
                $.ajax(ajaxConfig);
            }
            return false;
        }

        function GetRejectClaimK() {
            $.ajax({
                type: "POST",
                url: "JsonRejectClaimK",
                success: function (result) {
                    $("#listreject").html(result.html);
                    if (typeof activatejQueryTable !== 'undefined' && $.isFunction(activatejQueryTable)) {
                        activatejQueryTable();
                    }
                },
            });
        }

        function ajaxeditclaimk(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var ajaxConfig = {
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    success: function (response) {
                        if (response.success) {
                            $("#EClaim").modal("hide");
                            GetRejectClaimK();
                            $("#listrequest").html(response.html);
                            $('ul.nav.nav-tabs a:eq(0)').tab('show');
                            $.notify(response.message, "success");
                            if (typeof activatejQueryTable !== 'undefined' && $.isFunction(activatejQueryTable)) {
                                activatejQueryTable();
                            }                         
                        }
                        else {
                            $.notify(response.message, "error");
                        }
                    }
                }
                if ($(form).attr('enctype') == "multipart/form-data") {
                    ajaxConfig["contentType"] = false;
                    ajaxConfig["processData"] = false;
                }
                $.ajax(ajaxConfig);
            }
            return false;
        }


    </script>
}
