
@{
    ViewBag.Title = "Index Visa";
}
<h3>Request Visa</h3>
<hr />
<ul class="nav nav-tabs">
    <li class="active" id="requestt"><a data-toggle="tab" href="#requestr">Request</a></li>
    <li id="processs"><a data-toggle="tab" href="#processr">Process</a></li>
    <li id="riwayatt"><a data-toggle="tab" href="#riwayatr">History</a></li>
    <li id="tab1"><a data-toggle="tab" href="#editsurat">Edit</a></li>
</ul>
<div class="tab-content">
    <div id="requestr" class="tab-pane fade in active">@Html.Action("RequestVisa")</div>
    <div id="processr" class="tab-pane fade in">@Html.Action("ProcessVisa")</div>
    <div id="riwayatr" class="tab-pane fade in">@Html.Action("RiwayatVisa")</div>
    <div id="editsurat" class="tab-pane fade in">@Html.Action("EditSuratA")</div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script>
        function activatejQueryTable() {
            $('#a').DataTable();
            $('#b').DataTable();
            $('#c').DataTable();
        }
        $(function () {
            activatejQueryTable();
        });

        $('#tab1').hide();

        function GetProcessVisa() {
            $.ajax({
                type: "POST",
                url: "JsonProcessVisa",
                success: function (result) {
                    $("#processr").html(result.html);
                    if (typeof activatejQueryTable !== 'undefined' && $.isFunction(activatejQueryTable)) {
                        activatejQueryTable();
                    }
                },
            });
        }

        function GetRiwayatVisa() {
            $.ajax({
                type: "POST",
                url: "JsonRiwayatVisa",
                success: function (result) {
                    $("#riwayatr").html(result.html);
                    if (typeof activatejQueryTable !== 'undefined' && $.isFunction(activatejQueryTable)) {
                        activatejQueryTable();
                    }
                },
            });
        }

        function EditStatus(url) {
            Swal.fire({
                title: 'Apakah Anda Yakin?',
                text: "Request akan dilanjutkan ke proses!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya',
                cancelButtonText: 'Tidak'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        success: function (response) {
                            if (response.success) {
                                GetProcessVisa();
                                $("#requestr").html(response.html);
                                $.notify(response.message, "success");
                                if (typeof activatejQueryTable !== 'undefined' && $.isFunction(activatejQueryTable)) {
                                    activatejQueryTable();
                                }
                            }
                            else {
                                $.notify(response.message, "error");
                            }
                        }
                    });
                }
            });
        }

        function ProcessVisa() {           
            let formdata = $("#surat").serialize();
            Swal.fire({
                title: 'Apakah Anda Yakin?',
                text: "Status proses akan diubah ke finish!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya',
                cancelButtonText: 'Tidak'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EditSuratA", "surats")',
                        data: formdata,
                        success: function (response) {
                            if (response.success) {
                                $("#processr").html(response.html);
                                $('#tab1').hide();
                                $('ul.nav.nav-tabs a:eq(2)').tab('show');
                                GetRiwayatVisa();
                                $.notify(response.message, "success");
                                if (typeof activatejQueryTable !== 'undefined' && $.isFunction(activatejQueryTable)) {
                                    activatejQueryTable();
                                }
                            }
                            else {
                                $.notify(response.message, "error");
                            }
                        }
                    });
                }                
            });
        }

    </script>

}
