@model TugasAkhir.Models.surat

@{
    ViewBag.Title = "Edit";
    Layout = null;
}


@using (Html.BeginForm("RequestSurat", "surats", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return ajaxrequestallsurat(this);", data_restUrl = Url.Action("RequestSurat", "surats", new { id = 0 }) }))
{
    <div class="row">
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.id_jenis, "Jenis Surat", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("id_jenis", null, htmlAttributes: new { @class = "form-control", id = "jenissurat" })
                        @Html.ValidationMessageFor(model => model.id_jenis, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Tanggal", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBox("Tanggal", String.Format("{0:dd MMMM yyyy}", DateTime.Now), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="formsurat" id="1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.detail_surat.nama_bank, "Nama Bank", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.detail_surat.nama_bank, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.detail_surat.nama_bank, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.detail_surat.keperluan, "Keperluan", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.detail_surat.keperluan, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.detail_surat.keperluan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="formsurat" id="2">
                    <div class="form-group">                        
                        <div class="col-md-9 col-md-offset-3">
                            <b>Anda akan request pembuatan surat keterangan kerja</b>
                        </div>
                    </div>
                </div>
                <div class="formsurat" id="3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.detail_surat.lokasi, "Lokasi Kantor Pajak", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.detail_surat.lokasi, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.detail_surat.lokasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="formsurat" id="4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.detail_surat.tujuan_instansi, "Tujuan Instansi", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.detail_surat.tujuan_instansi, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.detail_surat.tujuan_instansi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.detail_surat.kegiatan, "Kegiatan", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.detail_surat.kegiatan, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.detail_surat.kegiatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="formsurat" id="5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.detail_surat.no_passport, "No Passport", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.detail_surat.no_passport, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.detail_surat.no_passport, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.detail_surat.tgl_pergi, "Tanggal pergi", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.detail_surat.tgl_pergi, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "date" } })
                            @Html.ValidationMessageFor(model => model.detail_surat.tgl_pergi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.detail_surat.tgl_pulang, "Tanggal Pulang", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.detail_surat.tgl_pulang, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "date" } })
                            @Html.ValidationMessageFor(model => model.detail_surat.tgl_pulang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.detail_surat.tujuan, "Tujuan", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.detail_surat.tujuan, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.detail_surat.tujuan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr style="border:1px solid #eaeaea" />
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Submit</button>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
}
