@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}
<h3>Profile </h3>
<a href="#" data-toggle="modal" data-target="#myModal" style="text-decoration-line:none;" class="btn btn-primary"><i class="fa fa-lock"></i> Change Password</a>
<hr />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Profile">Profile</a></li>
    <li><a data-toggle="tab" href="#Edit">Edit Profile</a></li>
</ul>
<div class="tab-content">
    <div id="Profile" class="tab-pane fade in active">@Html.Action("Profiles", new { id = Session["nik"] })</div>
    <div id="Edit" class="tab-pane fade in">@Html.Action("Edit", new { id = Session["nik"] })</div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- konten modal-->
        <div class="modal-content">
            <!-- heading modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-center" style="font-family:'Engravers MT'; font-size:xx-large;"><i class="fa fa-lock"></i> <b>Change Password</b></h1>
            </div>
            <!-- body modal -->
            <form id="gantipass" action="" class="form-horizontal">
                <div class="modal-body">
                    @*<div class="form-group has-success has-feedback">
                            <label class="control-label col-md-4" for="inputSuccess4">Input with success</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputSuccess4">
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" hidden></span>
                            </div>
                        </div>*@
                    <div class="form-group">
                        @Html.Label("Old Password", new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <input type="password" class="form-control" name="old" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("New Password", new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <input type="password" class="form-control" name="new" id="kontoru" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group" id="confir">
                        @Html.Label("Confirm New Password", new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <input type="password" class="form-control" name="confirmnew" id="kontoru1" onkeyup="CheckPass()" autocomplete="off" />
                            <span class="glyphicon glyphicon-ok form-control-feedback" id="span1"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" id="span2"></span>
                        </div>
                    </div>
                    @*<div class="form-group" id="s" style="display:none;">
                            <label class="col-md-4"></label>
                            <p id="status" />
                        </div>*@
                </div>
                <div class="modal-footer">
                    <a onclick="ChangePassword()" class="btn btn-success"><span class="fa fa-save"></span> Submit</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script>        
        $(document).ready(function () {
            tolol();
            $("#errormsg").hide();
        });
        function tolol() {
            $('#billy').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    npwp: {
                        validators: {
                            regexp: {
                                regexp: /^[0-9]{2}[.][0-9]{3}[.][0-9]{3}[.][0-9]{1}[-][0-9]{3}[.][0-9]{3}/,
                                message: 'Format NPWP Salah Ex: 12.345.678.9-123.000'                                
                            }
                        }
                    },
                    nama: {
                        validators: {
                            regexp: {                               
                                regexp: /^[a-z\s]+$/i,
                                message: 'Nama Tidak Boleh Angka'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message : 'E-Mail tidak boleh kosong'
                            },
                            regexp: {
                                regexp: /^[a-za-z0-9.!#$%&’*+/=?^_`{|}~-]+@@[a-za-z0-9-]+(?:\.[a-za-z0-9-]+)*$/,
                                message: 'format e-mail invalid'
                            }
                        }
                    },
                    foto: {
                        validators: {
                            file: {
                                extension: 'jpeg,jpg,png',
                                type: 'image/png,image/jpg,image/jpeg',
                                maxSize: 2048 * 1024,
                                message: 'Format file yang diperbolehkan : png,jpg,jpeg dengan ukuran max 2Mb!'
                            },
                        }
                    },
                    filektp: {
                        validators: {
                            file: {
                                extension: 'jpeg,jpg,png,pdf',
                                type: 'image/png,image/jpg,image/jpeg,application/pdf',
                                maxSize: 2048 * 1024,
                                message: 'Format file yang diperbolehkan : png,jpg,jpeg,pdf dengan ukuran max 2Mb!'
                            },
                        }
                    },
                    filenpwp: {
                        validators: {
                            file: {
                                extension: 'jpeg,jpg,png,pdf',
                                type: 'image/png,image/jpg,image/jpeg,application/pdf',
                                maxSize: 2048 * 1024,
                                message: 'Format file yang diperbolehkan : png,jpg,jpeg,pdf dengan ukuran max 2Mb!'
                            }
                        }
                    },
                    filerekening: {
                        validators: {
                            file: {
                                extension: 'jpeg,jpg,png,pdf',
                                type: 'image/png,image/jpg,image/jpeg,application/pdf',
                                maxSize: 2048 * 1024,
                                message: 'Format file yang diperbolehkan : png,jpg,jpeg,pdf dengan ukuran max 2Mb!'
                            }
                        }
                    },
                    fileijasah: {
                        validators: {
                            file: {
                                extension: 'jpeg,jpg,png,pdf',
                                type: 'image/png,image/jpg,image/jpeg,application/pdf',
                                maxSize: 2048 * 1024,
                                message: 'Format file yang diperbolehkan : png,jpg,jpeg,pdf dengan ukuran max 2Mb!'
                            }
                        }
                    }
                }
            });
        };
   

        function activatejQueryTable() {
            $('#a').DataTable();
        }
        $(function () {
            activatejQueryTable();
        });

        function ChangePassword() {
            let formdata = $("#gantipass").serialize();
             var x = $("#kontoru").val();

             if (x == "") {
                 $.notify("Password Baru Tidak Boleh Kosong", "warn");
                 return false;
             }
             if (x.length < 6) {
                 $.notify("Password harus lebih dari 5", "warn");
                 return false;
             }
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ChangePassword", "users")',
                        data: formdata,
                        success: function (response) {
                            if (response.success) {
                                $("#myModal").modal("hide");
                                $("#profile").html(response.html);
                                $('ul.nav.nav-tabs a:eq(0)').tab('show');
                                $.notify(response.message, "success");
                                if (typeof activatejQueryTable !== 'undefined' && $.isFunction(activatejQueryTable)) {
                                    activatejQueryTable();
                                }
                            }
                            else {
                                $.notify(response.message, "error");
                            }
                        }
                    });
        }
        $(document).ready(function () { hideall() });
        function hideall() {
            $('#spanemail1').hide();
            $('#spanemail2').hide();           
        }

        
       function CheckEmailEdit() {
            $("#errormsg").hide();
            $.post("@Url.Action("JsonGetEmailEdit", "users")",
                {
                    userdata: $("#email").val()                 
                },
                function (data) {
                    if (data == 2) {
                        if ($("i").hasClass("glyphicon-remove")) {
                            $("#spanemail1").hide();
                        }
                        else {
                            $("#confir2").attr("class", "form-group has-success has-feedback");
                            $('.glyphicon-remove').hide();
                            $("#spanemail1").show();
                            $("#spanemail2").hide();
                        }               
                    } else if (data == 1) {      
                            $("#confir2").attr("class", "form-group has-error has-feedback");
                            $('.glyphicon-ok').hide();
                            $("#errormsg").show();
                            $("#spanemail1").hide();
                            $("#spanemail2").show();
                    } else {
                        if ($("i").hasClass("glyphicon-remove")) {
                            $("#spanemail1").hide();
                        }
                        else {
                            $("#confir2").attr("class", "form-group has-success has-feedback");
                            $("#spanemail1").show();
                            $("#spanemail2").hide();
                        }               
                    }
                });
        }


        function ajaxedit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var ajaxConfig = {
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    success: function (response) {
                        if (response.success) {
                            $("#Profile").html(response.html);
                            $('ul.nav.nav-tabs a:eq(0)').tab('show');
                            hideall();
                            $('.notifyjs-corner').remove();
                            $.notify(response.message, "success");
                            if (typeof activatejQueryTable !== 'undefined' && $.isFunction(activatejQueryTable)) {
                                activatejQueryTable();
                                tolol();
                            }
                        }
                        else {
                            $('.notifyjs-corner').remove();
                            $.notify(response.message, "error");
                        }
                    }
                }
                if ($(form).attr('enctype') == "multipart/form-data") {
                    ajaxConfig["contentType"] = false;
                    ajaxConfig["processData"] = false;
                }
                $.ajax(ajaxConfig);
            }
            return false;
        }

        $("#span1").hide();
        $("#span2").hide();
        function CheckPass() {
            if ($("#kontoru1").val() == $("#kontoru").val()) {
                $("#confir").attr("class", "form-group has-success has-feedback");
                $("#span1").show();
                $("#span2").hide();
            } else {
                $("#confir").attr("class", "form-group has-error has-feedback");
                $("#span1").hide();
                $("#span2").show();
            }
        }

 //Validasi Hanya Angka
        function hanyaAngka(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
            return true;
        }

        //$(document).ready(function () {
        //    $.validator.methods.pattern = function (value, element) {
        //        return (this.optional(element) || new RegExp(element.pattern).test(value));
        //    };
        //    $.validator.messages.pattern = "<font color='red'>Format Salah Ex: 12.345.678.9-123.000</font>";
        //});           
    </script>
}
