@model IEnumerable<TugasAkhir.Models.slipgaji>

@{
    ViewBag.Title = "RequestGaji";
    Layout = null;
}
<div class="table table-responsive" style="padding-top:5px !important;">
    <table class="table table-striped table-condensed hover" id="a">
        <thead>
            <tr>
                <th>
                    SUBMISSION DATE
                </th>
                <th>
                    START MONTH OF SALARY SLIP
                </th>
                <th>
                    FINISH MONTH OF SALARY SLIP
                </th>
                <th>
                    STATUS
                </th>
                <th>
                    OPTION
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>                   
                    <td>
                        @String.Format("{0:dd MMMM yyyy}", item.tanggal)
                    </td>
                    <td>
                        @String.Format("{0:MMMM yyyy}", item.durasi_awal)
                    </td>
                    <td>
                        @String.Format("{0:MMMM yyyy}", item.durasi_akhir)
                    </td>
                    <td>
                        <span class="label label-info">@Html.DisplayFor(modelItem => item.status)</span>
                    </td>
                    <td>
                        <a onclick="DeleteGajiK('@Url.Action("DeleteGajiK", "slipgajis", new { id=item.id_slip})')" title="Batalkan Request"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>